*{
    margin: 0;
    padding: 0;
}
.banner {
    /* background:#f7f7f9; */
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to left, #ffba00 , #ff8800);
    color: black;
    text-align: center;
    padding: 10px 20px 10px 0; 
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */
    border-radius: 50px;
    /* height: 50px; */
    /* padding: 10px 5px 10px 0px; */
}

#countdown {
    font-size: 14px;
    font-weight: 600;
}
.limit-clock ,.timer-clock , .coupon-offer{
    display: flex;
    gap: 5px;
    align-items: center;
}

h2{
    font-size: 16px;
    font-weight: bold;
}
.limit-clock img{
    width: 40px;
}
@media(max-width: 800px){
    .banner{
        background-color: #ffecca;
    background-image: linear-gradient(to left, #ffecca , #ffecca);

        border-radius: 12px;
        border: 1px solid #ff8800;
        flex-direction: column;
        gap: 10px;
    }
    .limit-clock {
        gap: 12px;
    }
    .coupon-offer{
        gap: 15px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #ffd57c;
    }
}